# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Debug
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm

# Coverage directory used by testing tools
coverage/

# Build
dist/
